####################################
###### Main dev dependencies #######
####################################

# Checks style, syntax, and other useful errors.
flake8

# Static type checking
mypy==0.942

# Automatic code formatting
# promptsource specifies these, so we have to match
black<22.4
isort==5.8.0

# Running tests
pytest

# Flaky tests
flaky
